<p id="notice"><%= notice %></p>

<p>
  <strong>Art title:</strong>
  <%= @article.art_title %>
</p>
<p>
  <strong>Art subtitle:</strong>
  <%= @article.art_subtitle %>
</p>
<p>
  <strong>Art title:</strong>
  <%= @article.art_title %>
</p>
<p>
  <strong>Art Cat id:</strong>
  <%= @article.art_cat_id %>
</p>
<p>
  <strong>Art pic:</strong>
  <%= @article.art_pic %>
</p>
<p>
  <strong>Art content:</strong>
  <%= @article.art_content %>
</p>
<p>
  <strong>Art preview:</strong>
  <%= @article.art_preview %>
</p>

<%= link_to 'Back', articles_path %>
